@model DbFirst.Models.Pay

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conveyance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conveyance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
