@model IEnumerable<DbFirst.Models.Pay>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp.Dept.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conveyance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialPay)
            </th>
            
            
            @*<th>
                @Html.DisplayNameFor(model => model.Emp)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.Dept.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conveyance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialPay)
            </td>
            
            
            @*<td>
                @Html.DisplayFor(modelItem => item.Emp.Email)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
