@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Fetching Data from WebAPI";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("id")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("ProdName")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("SalePrice")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("CurStock")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("Tax")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("Brand")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("Processor")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("RAM")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("ROM")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("PrimaryCam")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("FrontCam")</th>
        </tr>
        <tr>
            <th>@Html.DisplayName("Battery")</th>
        </tr>
    </thead>
    <tbody>

        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["id"]</td> 
                <td>@row["ProdName"]</td>
                <td>@row["SalePrice"]</td>
                <td>@row["CurStock"]</td>
                <td>@row["Tax"]</td>
                <td>@row["Brand"]</td>
                <td>@row["Processor"]</td>
                <td>@row["RAM"]</td>
                <td>@row["ROM"]</td>
                <td>@row["PrimaryCam"]</td>
                <td>@row["FrontCam"]</td>
                <td>@row["Battery"]</td>
            </tr>
        }
    </tbody>
</table>
